    /*
    Flaticon icon font: Flaticon
    Creation date: 21/02/2018 07:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-heart:before { content: "\f100"; }
.flaticon-favorite-heart-button:before { content: "\f101"; }
.flaticon-box-2:before { content: "\f102"; }
.flaticon-archive-1:before { content: "\f103"; }
.flaticon-box-1:before { content: "\f104"; }
.flaticon-archive:before { content: "\f105"; }
.flaticon-telephone-handle-silhouette:before { content: "\f106"; }
.flaticon-mail:before { content: "\f107"; }
.flaticon-smartphone:before { content: "\f108"; }
.flaticon-search:before { content: "\f109"; }
.flaticon-menu:before { content: "\f10a"; }
.flaticon-paper-plane:before { content: "\f10b"; }
.flaticon-box:before { content: "\f10c"; }
.flaticon-circular-arrow:before { content: "\f10d"; }
.flaticon-help-round-button:before { content: "\f10e"; }
.flaticon-edit:before { content: "\f10f"; }
.flaticon-star-1:before { content: "\f110"; }
.flaticon-star-half-empty:before { content: "\f111"; }
.flaticon-star:before { content: "\f112"; }
.flaticon-business:before { content: "\f113"; }
.flaticon-arrows:before { content: "\f114"; }
.flaticon-return-arrow:before { content: "\f115"; }
.flaticon-headphones:before { content: "\f116"; }
.flaticon-credit-card:before { content: "\f117"; }
.flaticon-delivery-truck:before { content: "\f118"; }
.flaticon-map:before { content: "\f119"; }
    
    $font-Flaticon-heart: "\f100";
    $font-Flaticon-favorite-heart-button: "\f101";
    $font-Flaticon-box-2: "\f102";
    $font-Flaticon-archive-1: "\f103";
    $font-Flaticon-box-1: "\f104";
    $font-Flaticon-archive: "\f105";
    $font-Flaticon-telephone-handle-silhouette: "\f106";
    $font-Flaticon-mail: "\f107";
    $font-Flaticon-smartphone: "\f108";
    $font-Flaticon-search: "\f109";
    $font-Flaticon-menu: "\f10a";
    $font-Flaticon-paper-plane: "\f10b";
    $font-Flaticon-box: "\f10c";
    $font-Flaticon-circular-arrow: "\f10d";
    $font-Flaticon-help-round-button: "\f10e";
    $font-Flaticon-edit: "\f10f";
    $font-Flaticon-star-1: "\f110";
    $font-Flaticon-star-half-empty: "\f111";
    $font-Flaticon-star: "\f112";
    $font-Flaticon-business: "\f113";
    $font-Flaticon-arrows: "\f114";
    $font-Flaticon-return-arrow: "\f115";
    $font-Flaticon-headphones: "\f116";
    $font-Flaticon-credit-card: "\f117";
    $font-Flaticon-delivery-truck: "\f118";
    $font-Flaticon-map: "\f119";